body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #DA007B;
  }

  50% {
    background-color: #6C0187;
  }

  100% {
    background-color: #28d1a7;
  }
}

@keyframes titleColor {
  0% {
    color: #000000;
  }

  50% {
    color: #ffffff;

  }

  100% {
    color: #ffffff;

  }
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 30px;
  /* animation: changeBackgroundColor 5s infinite; */
  background-color: #2ACAA6;
}

.stickyhedear {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

.answer-display {
  margin-top: 10px;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.question-display {
  font-size: 20px;
  text-align: left;
  /* animation: changeBackgroundColor 5s infinite; */
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

h1 {
  /* animation: titleColor 5s infinite; */
}

.form-container {
  text-align: center;
  min-height: 100vh;
  overflow: auto;
  padding: 20px;
  width: 70%;
  border-radius: 10px;
  background-color: white;

  top: 0;
}

#fileName {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;

}

.input {
  font-size: 20px !important;
  margin-right: 10px;
  border: 1px solid #2980b9;
  padding: 7px 15px;
  color: black;
  background-color: white;
  outline: none;
  width: 55%;

}

#uploadForm {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;
}

.form-container input[type="file"],
.form-container input[type="text"],
.form-container button {
  margin-bottom: 10px;
}



.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #2ACAA6;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  display: none;
  /* Hidden by default */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Styles for file input */
.file-input-container {
  position: relative;
  width: 60%;
  display: inline-block;
}

.file-input-container input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.inputhover:hover {
  transform: scale(1.1);
}

.submit {
  background-color: #2ACAA6;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit:hover {
  transform: scale(1.1);
}

.hoveriffect:hover {
  background-color: #f3eeee;

  .activeOnhover {
    display: block;
  }

}

.activeOnhover {
  display: none;
  cursor: pointer;
}

.file-input-container label {
  display: block;
  color: black;
  padding: 3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* outline: 1px dashed #6e6b6b; */
  /* animation: changeBackgroundColor 5s infinite; */
  background-color: #2ACAA6;
  border-radius: 10px;
  margin-bottom: 20px;

  font-weight: bolder;
  cursor: pointer;
  color: white;
  height: 200px;

}


.file-input-container label:hover {
  transform: scale(1.1);
}

.headers {
  background-color: white;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}

.questionArea {
  width: 70%;
  background-color: white;
  padding: 5px 0px;

}

.answerArea {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .questionArea {
    width: 90%;
  }

  .answerArea {
    width: 80%;
  }

  .form-container {
    text-align: center;
    min-height: 100vh;
    overflow: auto;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    background-color: white;

    top: 0;
  }

  .file-input-container {
    position: relative;
    width: 80%;
    display: inline-block;
  }

  .headers {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .questionArea {
    width: 100%;
  }

  .container {
    padding-top: 0px;
  }

  .answerArea {
    width: 100%;
    padding: 20px;
  }

  .form-container {
    text-align: center;
    min-height: 100vh;
    overflow: auto;
    padding: 20px;
    width: 100%;
    border-radius: 0px;
    background-color: white;

    top: 0;
  }

  .file-input-container {
    position: relative;
    width: 100%;
    display: inline-block;
  }

  .headers {
    width: 100%;
  }
}