body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #34db95;
  }

  50% {
    background-color: #2ecc71;
  }

  100% {
    background-color: #28d1a7;
  }
}

@keyframes titleColor {
  0% {
    color: #000000;
  }

  50% {
    color: #ffffff;

  }

  100% {
    color: #ffffff;

  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: changeBackgroundColor 5s infinite;
  min-height: 100vh;
}

/* .stickyhedear {
  animation: changeBackgroundColor 5s infinite;
} */

.answer-display {
  margin-top: 10px;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  background-color: black;
  color: white;
}

.question-display {
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
  /* animation: changeBackgroundColor 5s infinite; */
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

h1 {
  /* animation: titleColor 5s infinite; */
}

.form-container {
  text-align: center;
  position: sticky;
  top: 0;
}

#fileName {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;

}

.input {
  font-size: 20px !important;
  margin-right: 10px;
  background: transparent;
  border: 1px solid #2980b9;
  padding: 7px 15px;
  color: white;
  outline: none;
  width: 70%;

}

#uploadForm {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;
}

.form-container input[type="file"],
.form-container input[type="text"],
.form-container button {
  margin-bottom: 10px;
}



.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  display: none;
  /* Hidden by default */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Styles for file input */
.file-input-container {
  position: relative;
  display: inline-block;
}

.file-input-container input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.inputhover:hover {
  transform: scale(1.1);
}

.submit {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit:hover {
  transform: scale(1.1);
}

.file-input-container label {
  display: block;
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.file-input-container label:hover {
  background-color: #2980b9;
}